<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="homePage.component.scss" />
  <!-- font google ! -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jersey+10&display=swap" rel="stylesheet">

  <title>Home Page</title>
</head>

<body>
  <div class="container">
    <p class="textHome" id="hello">Hello trainer !</p>
    <!-- <p class="textHome" id="trainer">trainer !</p> -->
  </div>
  <div id="PokedexButton" (click)="NavigateToPokemonList()">Go to your Pokedex</div>

  <script src="script.js"></script>
</body>
</html>
